#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
}

.chat-content-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Full height of parent */
    overflow: hidden; /* Prevent content overflow */
}

.message-list {
    flex: 1; /* Use available space for the message list */
    overflow-y: auto; /* Enable vertical scrolling */
}

.message-list::-webkit-scrollbar {
    width: 8px;
}

.message-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
